#preview-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 60vh;
    border: 2px solid black;
}

#gradient-preview-container {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 100%;
    height: 40vh;
}

#gradient {
    background-color: green;
    width: 90%;
}

#generated-code-container {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 100%;
    height: 20vh;
}

#generated-code {
    width: 90%;
}
